* {
    margin: 0;
    font-family: Arial;

}
body {
    width: 100%;
    height: 100%;
    background-image: url(backgroundImageAnimais.jpg);
    background-size: 200%;
    background-repeat: no-repeat;
}
#header {
    height: 14%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(background2.jpeg);
    background-size: cover;
    background-position: 10%;
}
.h1  {
    color: black;
}
a {
    text-decoration: none;
}
#divheader {
    border-bottom: 5px green solid;
    border-top: 5px green solid;
}
#maindiv {
    width: 65%;
    height: 90%;
    margin: auto;
    background-color: black;
    border-left: 5px green solid;
    border-right: 5px green solid;
}
#titulo {
    color: green;
    text-align: center;
    padding-top: 40px;
    font-size: 50px;
}
#div1 {
    height:88%;
    width: 50%;
    float: left;
}
#div2 {
    height:88%;
    width: 50%;
    float: right;
    display: flex;
    justify-content: center;
    text-align: justify;
}
#img {
    width: 85%;
    padding-left: 40px;
    padding-top: 50px
}
p {
    color: white;
    font-size: 15px;
}
#div3 {
    height: 90%;
    width: 90%;
    padding-top: 8%;
    padding-right: 10%;
}